<form>
  <div class="form-group keyword-box waiting">
    <span class="loading-icon"><%= image_tag 'loading.gif' %></span>
    <input type="text" class="form-control" id="keyword" placeholder="キーワードを入力">
  </div>
</form>

<div id="items_list"><div>
