// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootswatch/cosmo/variables";
@import "bootstrap";
@import "bootswatch/cosmo/bootswatch";
@import 'animate';

span.download img {
  width : 30px;
  height: 30px;
}

span.setting-icon {
  display : inline-block;
  width : 30px;
  height : 30px; 
  background-color: #efefef;
  img {
    width : 30px;
    height : 30px; 
  }
}


div.keyword-box {
  span.loading-icon {
    position : absolute;
    left : -20px;
    top : 4px;
  }

  &.waiting {
    span.loading-icon {
      display : none;
    }
  }
}

.page-title img {
  width : 45px;
  height: 45px;
  margin-right: 4px;
}

.item_form {
  .bootstrap-tagsinput {
    min-width : 100%;
  }
}

.label {
  a.tag {
    color: inherit;
    text-decoration: none;
  }
}

.row-description {
  padding-top : 15px;
}